@import "./theme.css";

@layer base {
	html {
		//--border-color: var(--color-gray-300);
		//--border-color: var(--color-gray-700);

		@apply text-foreground bg-background;
	}

	html, body {
		@apply min-h-screen;
	}
}

@layer utilities {
	.gap {
		@apply gap-2;
	}
}

@layer utilities {
	.h-screen {
		height: 100vh;
		height: calc(var(--vh, 1vh) * 100);
	}

	.min-h-screen {
		min-height: 100vh;
		min-height: calc(var(--vh, 1vh) * 100);
	}
}


@layer utilities {
	@keyframes rotation {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
}

@layer components {
	input {
		&[type="checkbox"] {
			&:checked {
				@apply bg-primary-500 border-primary-500;
				background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
			}

			&:indeterminate, &.indeterminate, &[indeterminate] {
				@apply bg-primary-500 border-primary-500;
				background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e");
			}

			&:disabled, &.disabled, &[disabled] {
				@apply opacity-60 cursor-default;
			}
		}
	}
}
